# Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Pinar Del Rio,CU,22.4175,-83.6981,72.90,91,35,4.97,scattered clouds
1,1,Santiago Del Estero,AR,-27.7951,-64.2615,75.74,26,0,13.67,clear sky
2,2,Felanitx,ES,39.4696,3.1483,79.32,54,18,9.24,few clouds
3,3,Jamestown,US,42.0970,-79.2353,44.19,66,100,5.75,overcast clouds
4,4,Bealanana,MG,-14.5500,48.7333,76.51,39,57,14.83,broken clouds
5,5,Warrington,GB,53.3925,-2.5802,60.80,72,40,14.97,scattered clouds
6,6,Chuy,UY,-33.6971,-53.4616,65.43,59,54,14.92,broken clouds
7,7,Milas,TR,37.3164,27.7839,79.95,26,40,8.05,scattered clouds
8,8,Hermanus,ZA,-34.4187,19.2345,72.81,67,77,11.07,broken clouds
9,9,Santa Cruz De La Palma,ES,28.6835,-17.7642,78.13,69,20,16.11,few clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [5]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature for your preferred travel destination?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature for your preferred travel destination?"))

What is the minimum temperature for your preferred travel destination?65
What is the maximum temperature for your preferred travel destination?80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [6]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Pinar Del Rio,CU,22.4175,-83.6981,72.90,91,35,4.97,scattered clouds
1,1,Santiago Del Estero,AR,-27.7951,-64.2615,75.74,26,0,13.67,clear sky
2,2,Felanitx,ES,39.4696,3.1483,79.32,54,18,9.24,few clouds
4,4,Bealanana,MG,-14.5500,48.7333,76.51,39,57,14.83,broken clouds
6,6,Chuy,UY,-33.6971,-53.4616,65.43,59,54,14.92,broken clouds
7,7,Milas,TR,37.3164,27.7839,79.95,26,40,8.05,scattered clouds
8,8,Hermanus,ZA,-34.4187,19.2345,72.81,67,77,11.07,broken clouds
9,9,Santa Cruz De La Palma,ES,28.6835,-17.7642,78.13,69,20,16.11,few clouds
14,14,Bengkulu,ID,-3.8004,102.2655,78.31,76,100,2.26,overcast clouds
21,21,Cape Town,ZA,-33.9258,18.4232,71.28,53,0,16.11,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [7]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Pinar Del Rio,CU,22.4175,-83.6981,72.90,91,35,4.97,scattered clouds
1,1,Santiago Del Estero,AR,-27.7951,-64.2615,75.74,26,0,13.67,clear sky
2,2,Felanitx,ES,39.4696,3.1483,79.32,54,18,9.24,few clouds
4,4,Bealanana,MG,-14.5500,48.7333,76.51,39,57,14.83,broken clouds
6,6,Chuy,UY,-33.6971,-53.4616,65.43,59,54,14.92,broken clouds
7,7,Milas,TR,37.3164,27.7839,79.95,26,40,8.05,scattered clouds
8,8,Hermanus,ZA,-34.4187,19.2345,72.81,67,77,11.07,broken clouds
9,9,Santa Cruz De La Palma,ES,28.6835,-17.7642,78.13,69,20,16.11,few clouds
14,14,Bengkulu,ID,-3.8004,102.2655,78.31,76,100,2.26,overcast clouds
21,21,Cape Town,ZA,-33.9258,18.4232,71.28,53,0,16.11,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [12]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng
0,Pinar Del Rio,CU,72.90,scattered clouds,22.4175,-83.6981
1,Santiago Del Estero,AR,75.74,clear sky,-27.7951,-64.2615
2,Felanitx,ES,79.32,few clouds,39.4696,3.1483
4,Bealanana,MG,76.51,broken clouds,-14.5500,48.7333
6,Chuy,UY,65.43,broken clouds,-33.6971,-53.4616
7,Milas,TR,79.95,scattered clouds,37.3164,27.7839
8,Hermanus,ZA,72.81,broken clouds,-34.4187,19.2345
9,Santa Cruz De La Palma,ES,78.13,few clouds,28.6835,-17.7642
14,Bengkulu,ID,78.31,overcast clouds,-3.8004,102.2655
21,Cape Town,ZA,71.28,clear sky,-33.9258,18.4232

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [13]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Pinar Del Rio,CU,72.90,scattered clouds,22.4175,-83.6981,
1,Santiago Del Estero,AR,75.74,clear sky,-27.7951,-64.2615,
2,Felanitx,ES,79.32,few clouds,39.4696,3.1483,
4,Bealanana,MG,76.51,broken clouds,-14.5500,48.7333,
6,Chuy,UY,65.43,broken clouds,-33.6971,-53.4616,
7,Milas,TR,79.95,scattered clouds,37.3164,27.7839,
8,Hermanus,ZA,72.81,broken clouds,-34.4187,19.2345,
9,Santa Cruz De La Palma,ES,78.13,few clouds,28.6835,-17.7642,
14,Bengkulu,ID,78.31,overcast clouds,-3.8004,102.2655,
21,Cape Town,ZA,71.28,clear sky,-33.9258,18.4232,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [14]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [16]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
# Display sample data
hotel_df.tail(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
664,Tabuk,PH,75.11,few clouds,17.4189,121.4443,Golden Berries Hotel and Convention
665,Ilhabela,BR,72.36,overcast clouds,-23.7781,-45.3581,Ilha Flat Hotel
675,Les Cayes,HT,79.86,scattered clouds,18.2000,-73.7500,Villa Orphee
679,Sao Gabriel Da Cachoeira,BR,74.70,broken clouds,-0.1303,-67.0892,Alarne - Área De Lazer Do Alto Rio Negro
681,Livingstonia,MW,75.97,clear sky,-10.6060,34.1063,Stone House Guest House
683,Meulaboh,ID,78.84,overcast clouds,4.1363,96.1285,Kost Pria
684,Puerto Del Rosario,ES,78.55,scattered clouds,28.5004,-13.8627,Hotel JM Puerto del Rosario
686,Colares,PT,79.99,clear sky,38.7992,-9.4469,Arribas Sintra Hotel
691,Satipo,PE,70.75,broken clouds,-11.2522,-74.6386,Bungalows El Palmiche
693,Unguia,CO,74.21,overcast clouds,8.0434,-77.0945,Residencias El Golfo

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [20]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Pinar Del Rio,CU,72.90,scattered clouds,22.4175,-83.6981,Hostal La Colina Dunay y Raul
1,Santiago Del Estero,AR,75.74,clear sky,-27.7951,-64.2615,Apartamentos Castelli 90
2,Felanitx,ES,79.32,few clouds,39.4696,3.1483,Petit Hotel Hostatgeria Sant Salvador
4,Bealanana,MG,76.51,broken clouds,-14.5500,48.7333,Le Delta
6,Chuy,UY,65.43,broken clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
...,...,...,...,...,...,...,...
683,Meulaboh,ID,78.84,overcast clouds,4.1363,96.1285,Kost Pria
684,Puerto Del Rosario,ES,78.55,scattered clouds,28.5004,-13.8627,Hotel JM Puerto del Rosario
686,Colares,PT,79.99,clear sky,38.7992,-9.4469,Arribas Sintra Hotel
691,Satipo,PE,70.75,broken clouds,-11.2522,-74.6386,Bungalows El Palmiche
693,Unguia,CO,74.21,overcast clouds,8.0434,-77.0945,Residencias El Golfo

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [22]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label = "Hotel ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [23]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [24]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hostal La Colina Dunay y Raul</dd>\n<dt>City</dt><dd>Pinar Del Rio</dd>\n<dt>Country</dt><dd>CU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 72.9 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Apartamentos Castelli 90</dd>\n<dt>City</dt><dd>Santiago Del Estero</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.74 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Petit Hotel Hostatgeria Sant Salvador</dd>\n<dt>City</dt><dd>Felanitx</dd>\n<dt>Country</dt><dd>ES</dd>\n<dt>Current Weather</dt><dd>few clouds and 79.32 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le Delta</dd>\n<dt>City</dt><dd>Bealanana</dd>\n<dt>Country</dt><dd>MG</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.51 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nuevo Hotel Plaza</dd>\n<dt>City</dt><dd>Chuy</dd>\n<dt>Country</dt><dd>UY</dd>\n<dt>Current Weather</dt><dd>broken clouds and 65.43 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Milashan Hotel</dd>\n<dt>City</dt><dd>Milas</dd>\n<dt>Country</dt><dd>TR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 79.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Misty Waves Boutique Hotel</dd>\n<dt>City</dt><dd>Hermanus</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>broken clouds and 72.81 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>H10 Taburiente Playa</dd>\n<dt>City</dt><dd>Santa Cruz De La Palma</dd>\n<dt>Country</dt><dd>ES</dd>\n<dt>Current Weather</dt><dd>few clouds and 78.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grage Hotel Bengkulu</dd>\n<dt>City</dt><dd>Bengkulu</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Radisson Blu Hotel Waterfront, Cape Town</dd>\n<dt>City</dt><dd>Cape Town</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>clear sky and 71.28 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [25]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   22.4175  -83.6981
1  -27.7951  -64.2615
2   39.4696    3.1483
4  -14.5500   48.7333
6  -33.6971  -53.4616
7   37.3164   27.7839
8  -34.4187   19.2345
9   28.6835  -17.7642
14  -3.8004  102.2655
21 -33.9258   18.4232

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [32]:
# Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))